{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Yetkazib Beruvchilar</h4>
                            </div><!-- end card header -->

                            <div class="card-body">
                                <div class="live-preview">
                                    <form action="{% url 'deliverer' %}" method="post" enctype="multipart/form-data"
                                          class="row g-3">
                                        {% csrf_token %}
                                        <div class="col-md-12">
                                            <label for="fullnameInput" class="form-label">Ism</label>
                                            <input type="text" class="form-control" name="full_name" id="fullnameInput"
                                                   placeholder="Enter your name">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="fullnameInput" class="form-label">Tel raqam</label>
                                            <input type="text" class="form-control" id="fullnameInput"
                                                   name="phone_number"
                                                   placeholder="Telefon raqamingizni kiriting">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="carbrand" class="form-label">Mashina rusumi</label>
                                            <input type="text" class="form-control" id="carbrand"
                                                   placeholder="Mashina rusumini kiriting" name="car_brand">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="carcolor" class="form-label">Mashina rangi</label>
                                            <input type="text" class="form-control" id="carcolor"
                                                   placeholder="Mashina rangini kiriting" name="car_color">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="carnumberInput" class="form-label">Mashina davlat raqami</label>
                                            <input type="text" class="form-control" id="carnumberInput"
                                                   placeholder="Mashina davlat raqamini kiriting" name="car_number">
                                        </div>
                                        <div class="col-2">
                                            <button type="submit"
                                                    class="btn btn-primary bg-gradient waves-effect waves-light">Saqlash
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Yetkazib Beruvchilar Ro'yxati</h4>
                            </div><!-- end card header -->

                            <div class="card-body">
                                <div class="live-preview">
                                    <div class="table-responsive table-card">
                                        <table class="table align-middle table-nowrap mb-0">
                                            <thead class="table-light">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Hodim FIO</th>
                                                <th scope="col">Telefon</th>
{#                                                <th scope="col">Surati</th>#}
                                                <th scope="col">Mashina rusumi</th>
                                                <th scope="col">Mashina rangi</th>
                                                <th scope="col">Mashina raqami</th>
                                                <th scope="col" style="width: 150px;">Amallar</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for staff in staffes %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ staff.full_name }}</td>
                                                    <td>{{ staff.phone_number }}</td>
{#                                                    {% if staff.avatar %}#}
{#                                                        <td><a href="{{ staff.avatar.url }}">Ko'rish</a></td>#}
{#                                                    {% else %}#}
{#                                                        <td>Surat mavjud emas</td>#}
{#                                                    {% endif %}#}
                                                    <td>{{ staff.car_brand }}</td>
                                                    <td>{{ staff.car_color }}</td>
                                                    <td>{{ staff.car_number }}</td>
                                                    <td>
                                                        <a href="/update-deliverer/{{ staff.id }}"
                                                           class="btn btn-success bg-gradient waves-effect waves-light"><i
                                                                class=" ri-edit-2-line"></i>
                                                        </a>
                                                        <a href="/delete-staff/{{ staff.id }}"
                                                           class="btn btn-danger bg-gradient waves-effect waves-light"
                                                           onclick="return confirm('Siz rostdan ham o\'chirmoqchimisiz?')"
                                                        ><i
                                                                class=" ri-delete-bin-fill"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    <nav aria-label="...">
                                            <ul class="pagination">
                                                {% if complaints.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="/deliverer/?page=1">Birinchi</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a href="/deliverer/?page={{ staffes.previous_page_number }}"
                                                           class="page-link">Dastlabki</a>
                                                    </li>
                                                {% endif %}

                                                </li>
                                                {% for n in total_pages %}
                                                    <li class="page-item {% if staffes.number == n %}active{% endif %}">
                                                        <a class="page-link"
                                                           href="/deliverer/?page={{ n }}">{{ n }}</a></li>
                                                {% endfor %}
                                                {% if complaints.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="/deliverer/?page={{ staffes.next_page_number }}">Keyingi</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div><!-- end card-body -->
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div>
            </div>
        </div>
    </div>
    {% block script %}
        <script>
            var loadFile = function (event) {
                var image = document.getElementById('output');
                image.src = URL.createObjectURL(event.target.files[0]);
            };
        </script>
    {% endblock %}
{% endblock %}